.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.log
.ipynb_checkpoints/

data/processed/*.csv
data/raw/*.csv
data/processed/*.parquet
data/raw/*.parquet
!data/processed/.gitkeep
!data/raw/.gitkeep

models/*.pkl
models/*.joblib
models/**/*.pkl
models/**/*.joblib
!models/light/
!models/light/salimoshoy_rf_100_depth16_compressed.pkl
